.body {
    margin: 0;
    padding: 0;
}
.mdc-button--outlined {
    border-width: 2px;
}
.tab {
    height: 100%;
    min-height: 100%;
    max-width: 100%;
    padding: 258px 0;
    flex: 1 1 auto;
    flex-flow: row nowrap;

    align-items: center;
    justify-content: center;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
}
.login {
    widows: auto;
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 300px) {
    .login {
        min-width: 300px;
    }
}

/* .email-input {
    margin-bottom: 10px;
} */
.form-button {
    widows: 100%;
}

.GQ8Pzc {
    font: 400 12px Roboto, Helvetica, Arial, sans-serif;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    color: #d93025;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: 12px;
    line-height: normal;
    margin-top: 8px;
    margin-bottom: 8px;
}
.TQGan {
    margin-right: 8px;
    margin-top: -2px;
}
.form-check {
    margin-bottom: 10px;
}
